.container {
  padding: 3rem;
  background: #f7f7f7;
}

button {
  -webkit-appearance: none;
  background: var(--c-accent);
  color: var(--c-accent-text);
  border: 0;
  padding: 0.5em 1em;
  border-radius: 4px;

  &.btn-secondary {
    background: #ccc;
    color: var(--c-text);
  }

  &[data-size="large"] {
    font-size: var(--t-medium);
  }

  &[data-size="small"] {
    font-size: var(--t-small);
  }
}

.page-header {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 6rem 1rem;
  background: #f7f7f7;
}

.page-header-buttons {
  display: flex;
  gap: 0.5rem;
}