.container {
  padding: 3rem;
  background: #f7f7f7;
}

button {
  -webkit-appearance: none;
  background: #1435a1;
  color: white;
  border: 0;
  padding: 0.5em 1em;
  border-radius: 4px;

  &.btn-secondary {
    background: #555;
  }

  &[data-size="large"] {
    font-size: 1.25em;
  }

  &[data-size="small"] {
    font-size: 0.875em;
  }
}

.page-header {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 6rem 1rem;
  background: #f7f7f7;
}

.page-header-buttons {
  display: flex;
  gap: 0.5rem;
}